[Unit]
Description=Ethernet-CAN host service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Environment=ETHERNET_CAN_CONFIGS_DIR=/opt/voltbro/ethernet-can
Environment=ETHERNET_CAN_EXECUTABLE=/opt/voltbro/ethernet-can/bin/ethernet-can
ExecStart=/usr/bin/python3 -u /opt/voltbro/ethernet-can/bin/start_ethernet_can.py
Restart=on-failure
RestartSec=15
TimeoutSec=20
StartLimitInterval=50
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
